#a1{
	max-height: 100px;
	max-width: 100px;
	margin-left: 50em;
}
#a2{
	max-height: 150px;
	max-width: 150px; 
	margin-top: 10em;
	margin-left: 10em;
}
#a3{
	max-height: 150px;
	max-width: 150px; 
	margin-top: 10em;
	margin-left: 25em;
}
#a4{
	max-height: 150px;
	max-width: 150px; 
	margin-top: 10em;
	margin-left: 35em;
}
#a5{
	max-height: 150px;
	max-width: 150px; 
	margin-top: 10em;
	margin-left: 50em; 
}
#a6{
	max-height: 150px;
	max-width: 150px; 
	margin-top: 10em;
	margin-left: 65em;
}