nav .nav-wrapper {
	background-color: #CFD8DC;
	box-shadow: -250px 0px 130px #37474f
	z-index: 1000;
}
#navtxt{
	font-family: 'Exo 2', sans-serif;
	font-size: 23px;
	color: #000000;
	margin-left: 5em;
}
#navtxt1{
	font-family: 'Exo 2', sans-serif;
	font-size: 23px;	
	color: #000000;
	margin-left: 5em;
	margin-right: 5em;
}
#logo{
	margin-top: 5px;
	width: 190px;
	height: 50px;
}
.material-icons.md-dark {
	color: rgba(0, 0, 0, 0.54);
}
#mobile-demo{
	background-color: #CFD8DC;
	font-family: 'Exo 2', sans-serif;
	font-size: 23px;
	margin-top: 56px;
}
#gdgimg{
	margin-top: 8px;
	max-width: 300px;
	max-height: 300px;
	z-index: 0;
}
.gdglogo{
	text-align: center;
}
@media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
        margin-left: 0px;
      }
    }

/* No modificar más el margen del row,
 * queda justo para el
 * responsive
 */

.row{
	margin-top: -10px;
	z-index: 1000;
	margin-bottom: 0px;
}
.card-panel{
	margin-bottom: 0px;
}
#Base{
    font-family: 'Cuprum', sans-serif;	
	background-color: white;
	color: black;
	text-align: center;
}
#First{
    font-family: 'Cuprum', sans-serif;	
	background-color: #4CAF50;
	color: white;
	text-align: center;
}
#Second{
    font-family: 'Cuprum', sans-serif;	
	background-color: #3F51B5;
	color: white;
	text-align: center;	
}
#Thirth{
    font-family: 'Cuprum', sans-serif;	
	background-color: #F44336;
	color: white;
	text-align: center;
}
#Fourth{
    font-family: 'Cuprum', sans-serif;	
	background-color: #FFC107;
	color: white;
	text-align: center;
}
 .waves-effect.waves-color{
 	background-color: white;
 }
 .waves-effect.waves-color .waves-ripple {
      background-color: rgb(25, 112, 255);
 }
 #sn{
 	max-width: 75px;
 	max-height: 75px;	 
 }
 #sn1{
 	max-width: 70px;
 	max-height: 70px;	 
 }
#sz{
	max-width: 180px;
	max-height: 180px;
	margin-top: 30px;
}
#sz1{
	max-width: 180px;
	max-height: 180px;
	margin-top: 30px;
	margin-left: 40px;
}
#bodytxt{
	font-family: 'Roboto', sans-serif;
	font-size: 19px;
}